name: Continuous Deployment

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Check version
        id: check_version
        run: |
          VERSION=v$(grep '^version =' Cargo.toml | cut -d '"' -f 2 | head -n 1)
          GIT_TAG_VERSION=${{ github.ref }}
          GIT_TAG_VERSION=${GIT_TAG_VERSION#refs/tags/}
          if [[ "$VERSION" != "$GIT_TAG_VERSION" ]]; then
            echo "Version in Cargo.toml ($VERSION) does not match pushed tag ($GIT_TAG_VERSION)"
            exit 1
          fi

  build:
    needs: [check-version]
    strategy:
      matrix:
        os:
          [
            { OS: ubuntu-latest, BIN_NAME: linux-x86_64 },
            { OS: ubuntu-24.04-arm, BIN_NAME: linux_aarch64 },
            { OS: macos-15, BIN_NAME: macos-x86_64 },
            { OS: macos-latest, BIN_NAME: macos-aarch64 },
            { OS: windows-latest, BIN_NAME: windows-x86_64 },
          ]
    runs-on: ${{ matrix.os.OS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Build (release)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --release --bin smg

      - name: Upload built artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "surreal-migraine-${{ matrix.os.BIN_NAME }}"
          path: target/release
          if-no-files-found: error
          retention-days: 7

  github-release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: |
            ./artifacts/**

  publish-cargo:
    needs: github-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
